@model NSN.Models.Stq
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Ina Vr1</a>.</p>


    <h1> @Model.Refx </h1>
    <p>@Model.Descr</p>
    <p>@Model.pCusto</p>
    <p>@Model.pVenda</p>
    <p>@Model.DtCadastro</p>

</div>
